@use '../../../index.scss' as *;
@use 'sass:color';


.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $spacing-md;
}

.pageButton {
  margin: 0 $spacing-xs;
  padding: $spacing-xs $spacing-sm;
  font-size: $font-size-base;
  background-color: $color-white;
  color: $color-primary;
  border: 1px solid $color-primary;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;

  &.active {
    background-color: $color-primary;
    color: $color-white;
  }

  &:hover {
    background-color: color.adjust($color-primary, $lightness: 40%);
  }
}
